name: Products Reviews CI/CD

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

env:
  IMAGE_NAME: wesley00s/product-reviews
  CONTAINER_NAME: reviews-app
  MONGO_EXPORTER_IMAGE_NAME: wesley00s/mongodb-exporter-reviews

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew clean build --no-daemon -x test

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push App Docker Image
        run: |
          docker build -t $IMAGE_NAME:${{ github.sha }} .
          docker tag $IMAGE_NAME:${{ github.sha }} $IMAGE_NAME:latest
          docker push $IMAGE_NAME:${{ github.sha }}
          docker push $IMAGE_NAME:latest

      - name: Tag and Push MongoDB Exporter
        run: |
          docker pull percona/mongodb_exporter:0.40.0
          docker tag percona/mongodb_exporter:0.40.0 $MONGO_EXPORTER_IMAGE_NAME:latest
          docker push $MONGO_EXPORTER_IMAGE_NAME:latest